/** CSS STYLE **/

:root {
  --main-color: #fff;
  --transparent-light: #d7ccc0;
  --transparent-dark: #908d8b;
  --light: #f5f4f0;
  --dark: #2a2626;
  --basic-color: #fe8a02;
  --button-hover-color: #ea7600;
  --basic-dark: #42413c;
  --brown: #b09a81;
  --blue: #1085c5;
  --background: url("../images/background.png");
  --placeholder: #757575;
  --black: #000;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
  font-weight: 400;
}

.title {
  margin: 0;
  font-family: Neucha, Pacifico, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color: var(--basic-color);
}

.title-selection {
  color: var(--dark);
}

.title-selection-light {
  color:var(--main-color);
}

.h1-72 {
  font-size: 72px;
}

.h2-60 {
  font-size: 60px;
}

.h3-34 {
  font-size: 34px;
}

.ptb-100 {
  padding: 100px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.ta-c {
  text-align: center;
}

.page {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.button {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 70px;
  height: 50px;
  padding: 12px 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--basic-color);
  color: var(--main-color);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-color);
}

.link {
  color: var(--blue);
}

.content {
  padding: 0 165px;
}

.page-header {
  position: relative;
  width: 100%;
  height: auto;
}

.page-header::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.page-title {
  margin-bottom: 193px;
}

.page-header-img {
  position: absolute;
  top: 55px;
  right: -105px;
  height: 525px;
}

.page-header-wrapper {
  column-count: 2;
  margin-bottom: 40px;
}

.page-header-text {
  margin: 0;
}

.page-header-text:not(:last-of-type) {
  margin-bottom: 13px;
}

.page-header-button {
  width: 148px;
  margin-left: 50%;
  transform: translateX(15px);
}

.promo {
  position: relative;
}

.promo-text {
  margin: 0;
  margin-bottom: 337px;
}

.promo-poster {
  position: absolute;
  display: block;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
  padding-top: 200px;
  background: var(--basic-dark);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
  background-color: var(--light);
}

.list-item:hover:not(:first-child) {
  background: var(--basic-color);
  color: var(--main-color);
}

.list-item-dark {
  padding: 0;
  background: var(--basic-dark);
}

.navigation-title {
  font-size: 52px;
}

.list-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.list-title {
  margin-bottom: 16px;
  color: inherit;
}

.list-item-number {
  display: inline-block;
  margin-bottom: 40px;
  font-family: Neucha, Pacifico, sans-serif;
  font-size: 64px;
  line-height: 1;
}

.list-description {
  margin: 0;
}

.article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.article::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.article-light {
  background-color: var(--light);
}

.article-dark {
  background-color: var(--brown);
}

.article-title-wrapper {
  display: flex;
  gap: 30px;
  width: 1110px;
}

.article-dark .article-text-wrapper {
  order: -1;
}

.article-title-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.article-title-main {
  margin: 0;
  font-family: Neucha, Pacifico, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: var(--transparent-dark);
}

.article-dark .article-title-main {
  color: var(--transparent-light);
}

.article-text {
  flex-basis: 48.5%;
  margin: 0;
}

.article-dark .article-text {
  color: var(--main-color);
}

.article-dark .article-title {
   color: var(--main-color);
}

.article-title + .article-text {
  width: 98%;
  font-family: Neucha, Pacifico, sans-serif;
  font-size: 34px;
}

.article-description-title {
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color);
  background-color: var(--brown);
  text-transform: uppercase;
}

.article-dark .article-description-title {
  color: var(--brown);
  background-color: var(--main-color);
}

.article-description-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.article-text-nested {
  display: block;
  margin-bottom: 15px;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 55px;
  background-color: var(--basic-dark);
}

.subscribe-title {
  width: 39%;
  margin: 0;
  font-family: Neucha, Pacifico, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  color: var(--main-color);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.subscribe-form-wrapper {
  display: flex;
  width: 100%;
}

.subscribe-form-label {
  margin-bottom: 9px;
  font-size: 18px;
  color: var(--main-color);
}

.subscribe-form-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px;
  background: var(--main-color);
  border: none;
}

.subscribe-form-input::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13.1px;
  line-height: 1.6;
  color: var(--placeholder);
  opacity: 0.2;
}

.subscribe-text {
  margin: 0;
  font-size: 12px;
  color: var(--main-color);
}

.subscribe-link {
  color: var(--main-color);
}

.subscribe-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/send.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

.contacts {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.contacts-text {
  margin: 0;
  color: var(--black);
}
