/** CSS STYLE **/

:root {
  --main-color: #fff;
  --transparent-light: #d7ccc0;
  --transparent-dark: #908d8b;
  --light: #f5f4f0;
  --dark: #2a2626;
  --basic-color: #fe8a02;
  --basic-dark: #42413c;
  --brown: #b09a81;
  --blue: #1085c5;
  --background: url("../images/background.png");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
  font-weight: 400;
}

.page {
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.title {
  margin: 0;
  font-family: Neucha, Pacifico, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color: var(--basic-color);
}

.title-selection {
  color: var(--dark);
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 12px 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--basic-color);
  color: var(--main-color);
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  position: relative;
  width: 100%;
  height: auto;
}

.page-header::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.page-title {
  margin-bottom: 193px;
}

.page-header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.page-header-wrapper {
  column-count: 2;
  margin-bottom: 40px;
}

.page-header-text {
  margin: 0;
}

.page-header-text:not(:last-of-type) {
  margin-bottom: 13px;
}

.page-header-button {
  width: 148px;
  margin-left: 50%;
  transform: translateX(15px);
}

.promo {
  position: relative;
}

.promo-text {
  margin: 0;
  margin-bottom: 337px;
}

.promo-poster {
  position: absolute;
  display: block;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.navigation {
  background: var(--basic-dark);
}

.h1-72 {
  font-size: 72px;
}

.h2-60 {
  font-size: 60px;
}

.h3-34 {
  font-size: 34px;
}

.ptb-100 {
  padding: 107px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.ta-c {
  text-align: center;
}
